.ant-btn {
    padding: 12px;
    color: #fff;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 500;
    vertical-align: middle;
    height: auto;
}

.ant-btn-primary {
    background-color: #77C454;
    border-color: #77C454;
}