.ant-btn {
    padding: 12px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 500;
    vertical-align: middle;
    height: auto;
    color: #fff;
    background-color: #77C454;
    border-color: #77C454;

    &:hover, &:focus {
        color: #fff;
        background-color: #63b43e;
        border-color: #5eaa3b;
    }
}

.ant-btn-primary {
    color: #fff;
    background-color: #7B6FFF;
    border-color: #7B6FFF;

    &:hover, &:focus {
        color: #fff;
        background-color: #5849ff;
        border-color: #4c3cff;
    }
}