.ant-card {
    padding: 18px;
    align-items: center;
    background: #423a6f;
    border-radius: 15px;
    color: #fff;

    &:hover {
        animation: pulse;
        animation-duration: 1s;
    }

    .ant-card-head-title {
        color: #fff;
    }

    .ant-card-head {
        border-bottom: 1px solid #8C87C2;
    }
}

.ant-card-bordered {
    border: 0 solid #423a6f;
}

.ant-divider-horizontal.ant-divider-with-text-center::before,
.ant-divider-horizontal.ant-divider-with-text-left::before,
.ant-divider-horizontal.ant-divider-with-text-right::before,
.ant-divider-horizontal.ant-divider-with-text-center::after,
.ant-divider-horizontal.ant-divider-with-text-left::after,
.ant-divider-horizontal.ant-divider-with-text-right::after {
    border-top: 1px solid #fff;
}

.ant-divider-horizontal.ant-divider-with-text-center,
.ant-divider-horizontal.ant-divider-with-text-left,
.ant-divider-horizontal.ant-divider-with-text-right {
    color: #fff;
    opacity: 0.5;
}